*{
margin:0;
padding:0;
font-family: Arial, helvetica sans-serif;
}
@media screen and (max-width:1100px){
    body{
      width: 100%;
    }
}

.Web{
    height: 50px;
    width: 100%;
    background-color: #507299;
    position: fixed;
}
img{
    margin-left: 13%;
    margin-top: 10px;
}
.content{
    background-color: #edeef0;
    padding-top: 50px;
    width: 100%;
    display:flex;
}
@media screen and (max-width:650px){
    .content{
      display: block;
    }
}
.red{
    background-color: #edeef0;
    width: 180px;
    font-size: 14px;
    margin-left: 18%;
}

@media screen and (max-width:1100px){
    .red{
      background-color: #edeef0;
      width: 180px;
      font-size: 14px;
      margin-left: 5%;
    }
}
@media screen and (max-width:650px){
    .red{
      width: 380px;
      margin-left: auto;
      margin-right: auto;
    }
}
.sp1{
    margin-left: 13px;
    margin-top: 12px;
    color: #2e5473;
    padding: 4px;
}
@media screen and (max-width:1100px){
    .sp1{
      margin: 0;
      margin-top: 12px;
    }
}
@media screen and (max-width:650px){
    .sp1{
      display: inline-block;
      margin-left: 15px;
    }
}
.sp2{
    margin-left: 13px;
    margin-top: 12px;
    color: #2e5473;
    padding: 4px;
}
@media screen and (max-width:1100px){
    .sp2{
      margin: 0;
      margin-top: 12px;
    }
}
@media screen and (max-width:650px){
    .sp2{
      display: inline-block;
      margin-left: 15px;
    }
}
.sp3{
    color: #2e5473;
    margin-left: 13px;
    margin-top: 12px;
    padding: 4px;
}
@media screen and (max-width:1100px){
    .sp3{
      margin: 0;
      margin-top: 12px;
    }
}
@media screen and (max-width:650px){
    .sp3{
      display: inline-block;
      margin-left: 15px;
    }
}
.sp4{
    margin-left: 13px;
    margin-top: 12px;
    color: #2e5473;
    padding: 4px;
}
@media screen and (max-width:1100px){
    .sp4{
      margin: 0;
      margin-top: 12px;
    }
}
@media screen and (max-width:650px){
    .sp4{
      display: inline-block;
      margin-left: 15px;
    }
}
.sp5{
    margin-left: 13px;
    margin-top: 12px;
    color: #2e5473;
    padding: 4px;
}
@media screen and (max-width:1100px){
    .sp5{
      margin: 0;
      margin-top: 12px;
    }
}
@media screen and (max-width:650px){
    .sp5{
      display: inline-block;
      margin-left: 15px;
    }
}
.sp1:hover{
    background-color:#e1e5eb;
}
.sp2:hover{
    background-color:#e1e5eb;
}
.sp3:hover{
    background-color:#e1e5eb;
}
.sp4:hover{
    background-color:#e1e5eb;
}
.sp5:hover{
    background-color:#e1e5eb;
}
.text{
    margin: 1%;
    width: 460px;
    font-size: 16px;
}
@media screen and (max-width:650px){
    .text{
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px;
      padding-bottom: 20px;
    }
}
.block1{
    background-color: white;
    border: 2px solid #e1e5eb;
    border-radius: 10px;
    width: 460px;
    margin-bottom: 20px;
}
.t1{
    margin: 20px;
}
hr{
    width: 420px;
    margin-left: 20px;
    height: 0px;;
    background-color: #d0d0d0;
    border: 2px solid #d0d0d0;
    border-radius: 10px;
}
.down{
    display: flex;
}
.like{
    color: #2e5473;
    margin-left: 20px;
    margin-top: 10px;
    padding-bottom: 20px;
}
.comment{
    color: #2e5473;
    margin-top: 10px;
    margin-left: 330px;
    padding-bottom: 20px;
}
.cat{
    width: 420px;
    margin: 20px;

}
.header{
    padding: 20px;
}
.he1{
    width: 100%;
    margin-left: 0;
    border: none;
    height: 4px;
    background-color: #d0d0d0;

}
.colon3{
  position: fixed;
    margin-left: 70%;
    margin-top: 15px;
}
@media screen and (max-width:1100px){
    .colon3{
      display: none;
    }
}
.block2{
    background-color: white;
    border: 2px solid #e1e5eb;
    border-radius: 8px;
    width: 160px;
    margin-left: 160px;
    margin-bottom: 20px;
    margin-top: 15px;
}
.he2{
    padding-top: 30px;
    padding-left: 15px;
    width: 100px;
}
.t2{
    margin-top: 25px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #edeef0;
}
.Footer{
    display: flex;
    background-color: white;
    width: 100%;
    color: #d0d0d0;
    font-family: Arial, helvetica sans-serif;
    height: 30px;
}
.f{
    padding: 5px 0;
    position: relative;
    margin: 0 auto;
}
@media screen and (max-width:650px){
    .Footer{
      height: 25px;
    }
}
@media screen and (max-width:650px){
    .f{
      padding: 0;
    }
}
.but{
    position: absolute;
    margin-left: 85%;
    height: 20px;
    width: 150px;
    margin-top: 5px;
}
@media screen and (max-width:1100px){
    .but{
      display: none;
    }
}
::selection{
background-color: #edeef0 ;
color: green;
}
