
.main{
	border: 1px solid forestgreen;
	background-color:aquamarine;
	display:flex;
}
.m1{
	background-color:aquamarine;
}
.m2{
	background-color:gray;
}
.p{
	background-color:#ffe5c0;
	width:350px;
	height:100px;
	float:left;
}
.txt{
	width:50%;
}
img{
	width:50%;
	height: 50%;
}
.f1{
	display:flex;
}